/* PAGE CONTAINER */
#page-http {
  flex-direction: column;
  gap: 5px;
  height: 100%;
}
/* SPLITTER */
.http-splitter {
    width: 100%;
    height: 5px;
    background-color: #45494a;
    cursor: ns-resize;
    user-select: none;
}
.http-splitter:hover {
    background-color: #007acc;
}
/* HTTP VIEW - TOP PART */
.http-view {
    display: flex;
    width: 100%;
    min-height: 100px;
    overflow: hidden;
    background-color: var(--main-color-1);
    gap: 5px;
}
/* HTTP RUN - BOTTOM PART */
.http-run {
  width: 100%;
  background-color: #1e1e1e;
  border: 1px solid #45494a;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-family: "JetBrains Mono", monospace;
  font-size: 12px;
  min-height: 50px;
}

/* TREE SPLITTER */
.tree-splitter {
    width: 5px;
    height: 100%;
    background-color: #45494a;
    cursor: ew-resize; /* Con trỏ kéo ngang */
    user-select: none;
    transition: background-color 0.2s;
}

.tree-splitter:hover {
    background-color: #007acc;
}