<div class="side-group" id="group-http">
    <div class="side-item main-item" data-target="http">HTTP</div>
    <div class="sub-menu hidden" id="sub-http">
        <div class="side-item sub-item" data-page="page-http">Scenario</div>
        <div class="side-item sub-item" data-page="page-stress">Stress</div>
        <div class="side-item sub-item" data-page="page-endurance">Endurance</div>
    </div>
</div>
<div class="side-group" id="group-ws">
    <div class="side-item main-item" data-target="ws">WS</div>
    <div class="sub-menu hidden" id="sub-ws">
        <div class="side-item sub-item" data-page="page-ws-control">Control</div>
        <div class="side-item sub-item" data-page="page-ws-state">State</div>
        <div class="side-item sub-item" data-page="page-ws-validator">Validator</div>
    </div>
</div>
<div class="side-item" data-page="page-sse">SSE</div>
<div class="side-item" data-page="page-grpc">gRPC</div>
<div class="side-item av-btn" id="av-btn" data-page="page-admin">
    <img src="../../../assets/sidebar/edit_icon.png" alt="" />
</div>